<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<div class="row">
  <div class="col-md-12">
    <%= line_chart @chart_data , xtitle: "日付", ytitle: "時間", curve: false, min: 0, max: 12, legend: true %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= bar_chart @chart_data,  xtitle: "時間",ytitle: "日付", curve: false, min: 0, max: 12, legend: true, class:" text-truncate" %>
  </div>
</div>
