<% @point ="20" %>
<div class = Mypage><!-- とりあえず-->
        <h1>マイページ</h1>
      </div>
        <div class="row ">
            
            <div class="col-md-6 border">
                <div class="row">
                    <div class="col-md-12 border text-center">
                        <div class="icon_box">
                            <img src="/images/image3-10.jpg" class="rounded-circle" alt="参考画像" width="80%" height="80%">
                            <h1 class="name"><%= current_user.name %></h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 border text-center">
                        <%= link_to 'チャット', users_path , {class: "btn btn--chat"}%>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-6 border">
                <div class="row">
                    <div class="col-md-12 border text-center">
                        <div class="point_box">
                            <p class ="point"><%= @point %></p>
                            <div class="have_point">
                                <h2>所有ポイント</h2>
                            </div>
                            <h3>〇〇人に教えました！！</h3>
                            <h3>〇〇人に教わりました！！</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 border text-center">
                    <%= link_to 'ランキング', chats_path , {class: "btn btn--ranking"}%>
                    
                    </div>
                </div>
            </div>
            
        </div>

    </div>
        <footer>フッターです</footer> 
