/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.Mypage{
    margin: 0px -12px;
    padding: 10px;
    background-color: #ee827c;
    font-size:50px;
    display: flex;
    border: solid 1px black;
    justify-content: space-between;
}
.Mypage_text{
  
}
.gear{
  margin:0 0 0 0;
  
}
.gear:hover{
  filter: contrast(200%);
}

.chat_side{
  max-height: 500px;
  height: 100%;
}

.point_side{
  max-height: 500px;
}

.icon{
    
    padding: 140px 0px;
    
    
}

.point_box{
  width: 100%;
  padding: 20% ;
  height: 450px;
  
}


.icon_box{
  width: 100%;
  height: 450px;
  border-radius: 50%;
}

.aaaaa{
  font-size: 1.4rem;
}
.point{
  color: orange;
  font-size: 120px;
  padding-bottom: 20%;
}
.have_point{
  padding-bottom: 10%;
}

.home{
  
}
.home:hover{
  filter: contrast(200%);
}
.root_home{
  text-align: right;
}
.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
<<<<<<< HEAD
  
=======
  padding: 1.8rem 3.8rem;
>>>>>>> d05672e57bcd1881e35304b3ab84b1c8efdba782
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  
  
}

.btn--chat,
a.btn--chat {
  color: #fff;
  background-color: #49d309;
  padding: 1.8rem 3.8rem;
}

.btn--chat:hover,
a.btn--chat:hover {
  color: #fff;
  background: #45f500;
  padding: 1.8rem 3.8rem;
}

.btn--ranking,
a.btn--ranking {
  color: #fff;
  background-color: #ffe607;
  padding: 1.8rem 3.8rem;
}

.btn--ranking:hover,
a.btn--ranking:hover {
  color: #fff;
  background: #fbff06;
  padding: 1.8rem 3.8rem;
}

/* ここから設定（プロファイル）*/
.setting_head{
  margin: 0px -12px;
  padding: 10px;
  background-color: gray;
  font-size:50px;
  display: flex;
  border: solid 1px black;
  justify-content: space-between;
}


