// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.aaaaa{
    max-height: 400px;
    height: 400px;
}
.btn_mypage{
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #6fa1ff;
    color: #FFF;
    margin: 0px 0px;
    padding-top: 6px;
}
.btn_mypage:hover{
    background: #87b1ff;
}
.home_size{
    height: 200px;

}
.btn_teacher{
    justify-content: center;
    width: 350px;
    height: 150px;
    background: #219ed8;
    color: #FFF;
    margin: 20px 0;
    padding-top: 55px;
    
}
.btn_teacher:hover{
    background: #24b0f1;
}

.btn_student{
    justify-content: center;
    width: 350px;
    height: 150px;
    background: #ffeb33;
    color: #FFF;
    margin: 20px 0;
    padding-top: 55px;
}

.btn_student:hover{
    background: #f3ff45;
}

.student_member{
    height: 400px;
    overflow-y: scroll;
}