// Place all the styles related to the room_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btnx-indigo-light{
    background: #4169e1;
    //border: 2px solid #4169e1;
    margin-right: 30px;
    width: 10em;
    height:10em;
    line-height: 3;
    //padding: 10px 0;
    text-align: center;
}
//.btnx-indigo-light span{
    //display: table-cell;
    //text-align: center;
    //vertical-align: middle;
//}

#shikaku{
    background-color:#ff69b4 ;
}

#sugaku{
    background-color:#4169e1;
}

#puro{
    background-color: #778899;
}

