// Place all the styles related to the room_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btnx-indigo-light{
    margin: 20px;
    width: 20vw;
    height: 20vw;
    //line-height: 3;
    padding-top:7vw;
    justify-content: center;

}

.btn_wrap{
    align-items: center;
}

//.btn_wrap a h3{
    //padding-top: 100px;
//}

//.btnx-indigo-light a{
    //position:absolute;
    //top: 50%;
    //left: 50%;
//}
//.btnx-indigo-light span{
    //display: table-cell;
    //text-align: center;
    //vertical-align: middle;
//}

#shikaku{
    background-color:#ff69b4 ;
   font-size: 3vw;
}
#sugaku{
    background-color:#4169e1;
    font-size: 3vw;
}
#puro{
    background-color: #778899;
    font-size: 2vw;
}
#boki{
    background-color: burlywood;
    font-size: 3vw;
}
#rika{
    background-color: chartreuse;
    font-size: 3vw;
}
#kokugo{
    background-color: #b22222;
    font-size: 3vw;
}