// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.text-left{
    position: fixed;
}
.space{
    margin-top: 30px;
}
/*.text-left{
    margin: 30px;
}*/
// .chats{
//     padding: 10px;
//     overflow-y: scroll;
//     overflow-x: hidden;
//     max-height: 500px;
// }

.textbox{ 
    width: 80%;
    position: fixed;
    bottom: 10px;
}
