// Place all the styles related to the room_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn_look{
    font-size: 1.5vw;
    border :solid 3px #0d6efd;
}
.btn_look:hover{
    background-color: #87ace4;
}
.btn_look1{
    font-size: 1.5vw;
    border :solid 3px red;
}
.btn_look1:hover{
    background-color: rgb(250, 111, 111);
}
// .actions input{
//     background-color:#87ace4;
//     color: white;
//     border-radius: 50%;
//     border: solid 1px black;
//     font-size: 30px;
//     width: 100px;
//     height: 50px;
// }
// .actions input:hover{
//     background-color: #0d6efd;
// }
.actions input{
    font-size: 1.5vw;
    border :solid 3px #0d6efd;
    border-radius: 20%;
    font-size: 30px;
    width: 100px;
    height: 50px;
}
.actions input:hover{
    background-color: #87ace4;
}