// Place all the styles related to the room_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btnx-indigo-light{
    margin: 20px;
    width: 20vw;
    height: 20vw;
    padding-top:7vw;
    justify-content: center;

}

.btn_wrap{
    align-items: center;
}

.show{
    display: flex;
    align-items: center;
    
}
.show:hover .element4{
    width: 100%;
    margin: 0;
    background-color: seagreen;
}
.show .element1{
    width: 33%;
    margin: 0;
}
.show .element2{
    width: 33%;
    margin: 0;
}
.show .element3{
    width: 33%;
    margin: 0;
}

.show .element4{
    width: 100%;
    margin: 0;
    
}
//.btnx-indigo-light a{
    //position:absolute;
    //top: 50%;
    //left: 50%;
//}
//.btnx-indigo-light span{
    //display: table-cell;
    //text-align: center;
    //vertical-align: middle;
//}

#shikaku{
    background-color:#ff69b4 ;
    font-size: 3vw;
}
#sugaku{
    background-color:#4169e1;
    font-size: 3vw;
}
#puro{
    background-color: #778899;
    font-size: 2vw;
}
#boki{
    background-color: burlywood;
    font-size: 3vw;
}
#rika{
    background-color: chartreuse;
    font-size: 3vw;
}
#kokugo{
    background-color: #b22222;
    font-size: 3vw;
}
#tirirekisi{
    background-color: #87b222;
    font-size: 3vw;
}
#kouminn{
    background-color: #cf4b0e;
    font-size: 3vw;
}
#hokenn{
    background-color: #3fabcc;
    font-size: 3vw;
}
#eigo{
    background-color: #b325ab;
    font-size: 3vw;
}
#biki{
    background-color: #584d4d;
    font-size: 2vw;
}
#sougouzissenn{
    background-color: #41ad65;
    font-size: 3vw;
}
#zyouhousyori{
    background-color: #3f977a;
    font-size: 3vw;
}
@media (max-width: 1030px) {
    .btnx-indigo-light{
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        padding: 10px;
        width: 100%;
    }
    /*.btnx-indigo-light-show{
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        padding: 10px;
        width: 100%;
    }*/
}
/*@media (max-width: 400px) {
    .show{
        font-size: 5px;
    }
}*/