
    <header>マイページ</header> 
        <div class="row">
            <div class="col-md-6 icon">6</div>
            <div class="col-md-6 border border-dark">6</div>
            
        </div>
    <footer>フッターです</footer> 
